section.about
    .container.about-wraper
        .row.text-row
            p.twelve.columns.about-text Hello ,we are <strong>soundVIBES</strong> and we`re here to offer you the best tool in listen to the best music there is and find out where is you favorite artist or song placed in our monthly TOP10!<br><u>find us on</u>
            
        .row.buttons
            a(href="#").spotify.columns.four Spotify
            p.columns.four.space  asda
            a(href="#").youtube.columns.four Youtube
            audio(src="assets/img/text.mp3") play